<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Hackathon 2023 Spring | oink!</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="/assets/css/swiper-icons.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/Navbar-Centered-Links-icons.css">
    <link rel="stylesheet" href="/assets/css/Pretty-Header-.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    {{{body}}}
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/416026aafd.js" crossorigin="anonymous"></script>
</body>
</html>